@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos custom */
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.hero-bg {
  background-image:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.85)),
    url("assets/img/hero-bg-cloud.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.will-change-transform {
  will-change: transform;
}

html {
  scroll-behavior: smooth;
}